.card {
    &#fightCard {
        align-content: space-around;
        img {
            max-width: 256px;
        }
        #animalLevel {
            float: right;
        }
        #userLevel {
            float: right;
        }
        .card {
            border: none;
        }
        .card-footer {
            border: none;
            background-color: $bgColor;
        }
        .card-header {
            background-color: $mainColor;
            color: $bgColor;
            font-size: large;
            text-align: justify;
        }
        .progress {
            background-color: white;
        }
        .progress-bar {
            background-color: $mainColor;
        }
    }
}

.modal {
    &#lossModal {
        background-color: black;
    }
    &#winModal {
        background-color: black;
    }
}
