body {
    padding-top: 70px;
    font-size: 1rem;
}
@media screen and (max-width: 768px) {
    body {
        padding-top: 70px;
    }
}
.navbar {
    background-color: $mainColor;
}
.nav-link,
.navbar-brand {
    &:hover {
        color: $hoverColor;
    }
    color: $bgColor;
    font-weight: bold;
}
.nav-item.active {
    .nav-link {
        color: white;
    }
}
