#updateCard {
    .card-header {
        background-color: $bgColor;
        border: none;
    }
    #updateStats {
        &:hover {
            cursor: pointer;
        }
        .fas {
            cursor: pointer;
            color: $mainColor;
            &:hover {
                color: rgb(255, 255, 255);
            }
        }
        input[type="text"] {
            color: white;
            background-color:$bgColor;
        }
    }
    
    #err0 {
        border-radius: 0px;
        display: none;
    }
    #err1 {
        border-radius: 0px;
        display: none;
    }
    #err2 {
        border-radius: 0px;
        display: none;
    }
}

