#updateCard {

    .card-header {
        background-color: $bgColor;
        border: none;
    }
    .form-control {
        border: none !important;
        &:focus {
            border: none !important;
            box-shadow: none !important;
        }
    }
    #info {
        cursor: default;
        background-color: $bgColor;
        color: white;
        &:hover {
            background-color: $bgColor;
            color: white;
        }
    }
    #updateStats {
        .fas {
            cursor: pointer;
            color: $mainColor;
            &:hover {
                color: rgb(255, 255, 255);
            }
        }
        input[type="text"] {
            cursor: default;
            color: white;
            background-color: $bgColor;
        }
    }

    #err0 {
        border-radius: 0px;
        display: none;
    }
    #err1 {
        border-radius: 0px;
        display: none;
    }
    #err2 {
        border-radius: 0px;
        display: none;
    }
}
