<h1 id="test">Hello <%= user.username %>!</h1>
<p id="first">
    My name is Kabukaka, and first of all, thank you so much for joining us! In the next few minutes I'll be teaching you how to play this game!
</p>
<p id="second">
    First of all lets get the what happened out of the way!
</p>